<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
                    &nbsp&nbsp&nbsp&nbsp
					<h2>关注动态</h2>
                    <ul class="ul-list">
                    <li>
                    <a class="icon-sns" title="关注微博" target="_blank" href="//weibo.com/u/5645498038"><i class="fa fa-weibo"></i></a>
                    <a class="icon-sns sns-weixin" href="javascript:void(0)"><i class="fa fa-weixin"></i><img class="weixin-image" pagespeed_lazy_src="/assets/img/qr-code.png" alt="租哪儿微信服务号" src="/pagespeed_static/1.JiBnMqyl6S.gif" onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"/></a>
                    </li>
                    </ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->