<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" align="left">
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们</h3>
                    <ul class="ul-list">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;电话：020-38343625
                    <br>
                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;邮箱：<a href="mailto:wowdecoration@163.com">wowdecoration@163.com</a> <br>
                    <i class="fa fa-qq"></i>&nbsp;&nbsp;QQ：<a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin=434830709&site=qq&menu=yes">434830709</a>
                    <br>
                    <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E7%9F%B3%E7%89%8C%E5%8D%97%E9%97%A8%E8%8B%91">广州市天河区瘦狗岭路583号</a>
                    </ul> 
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->